body {
    background-color: #1A2238;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #ffefcd;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    color: #ffefcd !important;
    font-weight: bold;
    margin: 0 1rem;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.nav-link:hover, .nav-link.active {
    color: #ffffff !important;
    border-bottom: 2px solid #ffefcd;
}

.footer-link {
    color: #ffefcd;
    text-decoration: none;
    margin-right: 1.5rem;
}

.footer-link:hover {
    color: #ffffff;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-game {
    color: #ffefcd;
    margin-bottom: 2rem;
    text-shadow: 6px 15px 6px #000000;
    text-align: center;
}

#start-here {
    text-decoration: none;
    font-size: 4rem;
}